.content {
    max-width: 100%;
    max-height: fit-content;
    margin-top: 65px;
    margin-left: 128px;
    gap: 32px;
    overflow-x: hidden;
}

.content p {
    width: 250px;
    height: 30px;
    border: 1px solid rgb(255, 179, 0);
    border-radius: 10px;
    padding: 10px;

}

.header {
    width: 750px;
    font-size: 60px;
    font-weight: 700;
    font-family: poppins;
    line-height: 85.99px;
    letter-spacing: -3%;
}

.header span {
    color: rgb(141, 37, 238);
}

.paragraph {
    font-weight: 400;
    line-height: 30px;
    font-size: 20px;
    font-family: poppins;

}

.grid-container {
    display: flex;
    gap: 24;
}

.grid-item {
    border: 1px solid rgb(255, 204, 0);
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    font-family: poppins;
    font-style: normal;
    color: rgb(255, 94, 0);
    background-color: rgb(247, 236, 199);
}

.grid-item i {
    padding: 2px;
}
.Button{
    display: flex;
    gap: 24;
}
.btn{
    width: 219px;
    height: 75px;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: white;
    border-radius: 20px;
    gap: 6px;
    padding: 24px 48px 24px 48px;
    background:linear-gradient(180deg, #B73BBE 0%, #992E9D 93.51%);
    cursor: pointer;
    box-shadow: 5px 6px 5px 5px #888888;
}
.Query{
    width: 175px;
    height: 75px;
    padding: 24px;
    border-radius: 16px;
    gap: 6px;
    color: #B73BBE;
}