.Top ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1400px;
    height: 65px;
    background-color: rgb(45, 45, 45);
    gap: 20px;
}
.Top ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
}
.Top ul li a{
    text-decoration: none;
    color: white;
}
.Top ul li a:hover{
    color: rgb(183, 43, 226);
    border-bottom: 1px solid rgb(227, 219, 219);
}